[flake8]
ignore =
    # Black compatibility
    E203, W503,
    # place additional ignores here
    # TODO Remove this ignore once this branch is to be merged into master
    E800
per-file-ignores =
    __init__.py: F401, F403
    enums.py: D
    map.py: D,RST,DAR
docstring-style: SPHINX
max-line-length = 120
max-complexity = 18
# this extend ignore is temporary for 3d
extend-ignore = D, RST, DAR, C, F405, F403
exclude = examples/*
