ffmpeg
matplotlib
matplotlib
mock
nd_line
nd_line
nd_line
numpy
numpy
opencv-python==4.5.*
openpyxl
pandas
pandas
pathlib
pillow
pillow
pyclipper
pyclipper
pygame
pygame
pymunk
pymunk
pytest
quantiphy
quantiphy
scikit-image
scikit-image
scipy
scipy
seaborn
seaborn
setuptools
shapely==1.8.*
shapely==1.*
tifffile
wheel
# wmglab-neuron # todo: uncomment when PyPI package is available
xlsxwriter
