ffmpeg
matplotlib
mock
nd_line
numpy
opencv-python==4.5.*
openpyxl
pandas
pathlib
pillow
pip
pyclipper
pygame
pymunk
pytest
quantiphy
scikit-image
scipy
seaborn
setuptools
shapely==1.8.*
tifffile
wheel
# pyfibers # todo: uncomment when PyPI package is available
xlsxwriter
